<div class="card">
  <%= image_tag('IMG_1289.jpg',class:"img-fluid card-img") %>
  <div class="card-img-overlay ml-5">
    <h3 class="d-sm-block d-md-none">大人もキャッチボールしたい</h3>
    <h1 class="d-none d-md-block">大人も手軽に<br>キャッチボールしたい</h1>
    <h5 class="d-none d-lg-block">いつでも手軽に<br>キャッチボールの場所が見つかる</h5>
  </div>
</div>
<div class="container" style="margin-bottom:50px;">
  <div class="row align-items-center border border-secondary">
    <div class="col-3 text-center d-flex align-items-center" style="height:50px;">エリア、日時から探す</div>
      <div class="col d-flex align-items-center" style="height:50px;">
        <div class="input-group">
          <input class="form-control form-control-outline-secondary" type="text" placeholder="エリアから探す">
          <div class="input-group-append">
            <div class="dropdown">
              <button type="button" class="btn btn-outline-secondary btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">人数</button>
              <ul class="dropdown-menu">
                <li><button class="dropdown-item" value="1人">1名</button></li>
                <li><button class="dropdown-item" value="2人">2名</button></li>
                <li><button class="dropdown-item" value="3人">3名</button></li>
                <li><button class="dropdown-item" value="4人">4名</button></li>
                <li><button class="dropdown-item" value="5人">5名</button></li>
                <li><button class="dropdown-item" value="6人以上">6名以上</button></li>
              </ul>
            </div>
          </div>
          <div class="input-group-append">
            <input type="date">
          </div>
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary">検索</button>
          </div>
        </div>
      </div>
  </div>
</div>
</div>



<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">こんにちは!</h1>
    <p class="lead">「大人だって思いっきり投げたい！」「草野球をする時間はないけど30分くらいキャッチボールで運動したい」そんな思いを叶えます。</p>
    <a class="btn btn-outline-primary btn-lg" href="#" role="button">詳しくはこちらから</a>
  </div>
</div>

