@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

/* universal */

/* typography */



/* footer */


h1{

    background-color: blue;

}

.jumbotron {
    background-image: url("../images/IMG_1289.jpg");
    background-size: cover;
    background-position: center 60%;
}
