<header>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href='#'>キャッチボール app</a>
      <button class="navbar-toggler navbar-toggler" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <ul class="navbar navbar-nav">
          <li class="nav-item list-unstyled">
            <a class="nav-link" href='#'>Home</a>
          </li> |
          <li class="nav-item list-unstyled">
            <a class="nav-link" href='#'>キャッチボールappの特徴と便利な使い方</a>
          </li> |
          <li class="nav-item list-unstyled">
            <a class="nav-link" href='#'>会員登録</a>
          </li> |
          <li class="nav-item list-unstyled">
            <a class="nav-link" href='#'>ログイン</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="card">
    <%= image_tag('IMG_1289.jpg',class:"img-fluid card-img") %>



    <div class="card-img-overlay ml-5">
      <h3 class="d-sm-block d-md-none">大人もキャッチボールしたい</h3>
      <h1 class="d-none d-md-block">大人も手軽に<br>キャッチボールしたい</h1>
      <h5 class="d-none d-lg-block">いつでも手軽に<br>キャッチボールの場所が見つかる</h5>
    </div>
  </div>
</header>




